/* General */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10px = 1rem */
    height: 100%;
  }
  
  body {
    background: #0e436e!important;
    font-family: 'Open Sans', sans-serif !important;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

.hero-container {
    background-color: #e5e5e5;
}

.hero-content {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-container {
    background-color: #989898;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 55rem;
}

.head-title-container {
    display: flex;
    align-items: center;
    height: 8rem;
    color: white;
}

.form-container {
    background-color: white;
    margin-bottom: 4rem!important;
    max-width: 55rem;
    margin: 0 auto;
}

.amount {
    background-color: #e5e5e5;
    width: 100%;
    min-height: 8rem;
    padding: 4rem;
    max-width: 55rem;
    margin: 0 auto;
}

.amount h2 {
    margin-bottom: 1.5rem;
}

.input-container {
    display: flex;
    border: 1px solid black;
    width: 100%;
}

.input-symbol {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-right: 1px solid black;
}

.input-container input {
    width: 100%;
    border-radius: 0!important;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
}

.contact-details-container {
    background-color: white;
    width: 100%;
    min-height: 8rem;
    padding: 1rem 3rem;
    max-width: 55rem;
    margin: 0 auto;
}

.contact-details-container h2 {
    margin: 1.5rem 0;
}

.contact-details-container input {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
    padding: 2rem;
    border: none;
    border-radius: 2.5rem;
    font-size: 2rem;
    margin: 0 0 2rem 0;
    width: 45%;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all .3s;
}

.btn-container button:hover {
    background-color: #005505;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 8rem;
}